*{
	margin: 0px;
	padding: 0px;
}

header {
	position: fixed;
    background-color: #548500;
    color: black;
    font-size: 10px;
    width: 1400px;
    height: 60px;
    font-family: Arial;
}

body{
	background-color: white;
}

input {
	display: block;
	height: 50px;
	width: 400px;
	margin: 10px;
	border-radius: 30px;
	border: 1px solid black;
	font-size: 16px;
	padding: 10px 20px;
	background-color: rgb(255,255,255,0.01);
	color: black;
	outline: none;

}

div#corpo-cult{
	background-color: white;
	width: 420px;
	margin: 150px auto 0px auto;
}


div#corpo-cult h2 {
	text-align: center;
	padding: 20px;
}

footer {
	position: fixed;
    background-color: #548500;
    color: white;
}
