body{
   background-color:white   ; 
   color:black;
}

footer{
    background-color: #228B22;/*#1c8703;#548500;#007d1f;*/
    color: rgb(0, 30, 0);
}

#barraFinal{
    background-color:rgb(0, 34, 0); 
    color: rgb(230,255,230);
    text-align: center;
    padding-top: 5px;
}

.textoGraficosGauge{
    font-size: 10pt;
    margin-left: 40px;
    margin-right: 40px;
}
#textoBotaoGraf{
    margin: 20px;
}

#imgEstufa{
margin-top: -50px;
}
