body{
   background-color:white; 
   color:black;
}

footer{
	background-color: #228B22;/*#1c8703;#548500;#007d1f;*/
}

#barraFinal{
    background-color:#004400; 
    color:white;
    text-align: center;
    padding-top: 5px;
}